@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:roots{
    
    --white: #fff;
    --black: #000;
    --orangered: orangered;
    --maroon: rgb(88, 15, 15);


}

header{
    position: fixed;
    width: 100%;
    z-index: 5;

    background-color: rgb(80, 10, 10);
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    padding:20px 50px ;
}
.logo{
    color: white;
    font-size: 40px;
}
.navbar .nav-link{
    color: white;

    
}
.navbar .nav-menu{
    display: flex;
    gap: 20px;
}

.navbar .nav-menu .nav-link{
    padding: 10px 25px;
    color: var(white);
    font-size:var(20px);
   
    border-radius:20px;
}
.navbar .nav-menu .nav-link:hover{
    color: white;
    background: orangered;
}

.hero-section{
    min-height: 100vh;
    width: 100%;
    background: rgb(80, 10, 10);
}
.hero-section .section-content{
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white);
    justify-content: space-between;
    margin-left:10px; 
}
.hero-section .hero-details .title{
    font-size: 3rem;
    color:orangered ;
    font-family: "Miniver&family",sans-serif ;

}

.hero-section .hero-details .subtitle{
    font-size: 1.4rem;
    margin-top: 8px;
    
    max-width: 70%;
    font-weight: 20px;

}
.hero-section .hero-details .desc{
    font-size: medium;
    max-width: 70%;
    margin: 24px 0 40px;
}
.hero-section .section-content .hero-image{

   width: 500px;
   margin-right: 30px;

}
.hero-section .hero-details .btn-order{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: rgb(80, 10, 10);
    border-radius: 20px;
    background-color: orangered;
    transition: 0.2s ease-out;
}
.hero-section .hero-details .btn-contact{
    padding: 10px 26px;
    border: 2px solid transparent;
    color: rgb(80, 10, 10);
    border-radius: 20px;
    background-color: orangered;
    transition: 0.2s ease;

}
.hero-section .hero-details .btn-contact:hover{
  
    color: white;
    border: 2px solid white ;
    background: transparent;
}
.hero-section .hero-details .btn-order:hover{
  
    color: white;
    border: 2px solid white;
    background: transparent;
}
.hero-section .hero-details .buttons{
   display: flex;
   gap: 23px;
   
}

@media screen and (max-width:800px) {
    .navbar .nav-menu{
        display: block;
        background: white;
        position: fixed;
        left: 0;
        top: 0;
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
        
    }
     .navbar .nav-menu .nav-link{
        color: black;
        font-size: medium;
     }
}

.about-section{
    min-height: 100vh;
    width: 100%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.about-section .about-content{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
    /* max-width: 1200px; */
    padding: 0 10px;
}
.about-section .about-content .about-image img{
    width: 100%;
    border-radius: 20px;
}                                                                           

.contact-section{            
     min-height: 100vh;
    width: 100%;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}

